.main{
   height: 100vh;
   background-image: url(./img/bg.png);
}

/* added as an overlay to darken the background */
.bg-overlay {
    position: absolute;
    background: linear-gradient(to top,rgba(0,0,0,.76) 14%,rgba(0,0,0,.5) 66%);
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
    display: flex;
    flex-direction: row;
    position: relative;
    padding: calc(50vh - 20px) 0;
}

.container div {
    margin: 0 5px;
    height: 40px;
}

.container div.input-holder.what {
    flex-grow: 3;
    width: 55%;
}

.container div.input-holder.where {
    flex-grow: 2;
    width: 25%;
}

.container div.submit-btn {
    flex-grow: 1;
    width: 14%;
}

.container div input, 
.container div a {
    width: 100%;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.container div a {
    background: #FFCD00;
    color: black;
    display: block;
    text-decoration: none;
    line-height: 30px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.container div a:hover {
    background: black;
    color: white;
}

.container div a.disabled-anchor{
    pointer-events: none;
    background: grey !important;
    color: white;
}

footer {
    position: absolute;
    bottom: 0;
    background: #777;
    width: 100%;
    height: 60px;
    padding: 15px 10px;
    box-sizing: border-box;
}

footer a {
    height: 30px;
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

footer a img {
    height: 100%;
}

footer a img.font-awesome {
    background: white;
    border-radius: 5px;
}

/* instead of having the input fields and the button aside of each other, everything will take the full width */
@media only screen and (max-width: 1000px) {
    .container {
        flex-direction: column;
        padding: calc(50vh - 80px) 0;
    }

    .container div {
        width: 100% !important;
        flex-grow: 1 !important;
        margin: 5px;
    }
}

@media only screen and (max-width: 600px) {
    footer {
        height: 40px;
        padding: 12px 10px;
    }
    
    footer a {
        height: 16px;
        margin-right: 5px;
    }
}