.page-details {
    width: 500px;
    height: calc(100% - 20px);
    position: absolute;
    background-color: white;
    top: 10px;
    left: 430px;
    z-index: 1;   
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
}

.page-details .close-btn {
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    color: #777;
    width: 40px;
    height: 40px;
}

.page-details h2 {
    margin: 0;
    color: #333;
}

.page-details .ratings {
    margin:  5px 0;
}

.page-details .ratings .number {
    margin-right: 5px;
}

.page-details .pricing {
    color: #777;
}

.page-details .description {
    color: #777;
}

.page-details .address,
.page-details .phone,
.page-details .hours {
    overflow: hidden;
    margin-bottom: 5px;
}

.page-details .address .title,
.page-details .phone .title,
.page-details .hours .title {
    font-weight: bold;
    display: block;
    float: left;
}

.page-details .address .details,
.page-details .phone .details,
.page-details .hours .details {
    font-weight: normal;
    display: block;
    float: left;
    padding-left: 5px;
    width: calc(100% - 75px);
}

.page-details .social-container {
    overflow: hidden;
}

.page-details .social {
    float: right;
}

.page-details .social a {
    color: #777;
    margin-left: 5px;
}

.page-details .social a svg {
    height: 40px;
    width: 40px;
}

.page-details .photo {
    position: relative;
}

.page-details .photo img {
    width: 100%;
}