.search-results{
    height: 100vh;
}

.search-results>header{
    position: relative;
    height: 60px;
    width: 100%;
    background: white;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0,0,0,.12), 0 2px 2px rgba(0,0,0,.24);
    box-sizing: border-box;
    z-index: 9999;
}

.search-results>header h1 {
    color: #777;
    float: left;
    margin: 8px 10px 0;
}

.search-results>header .toggle-screen {
    border: none;
    background: none;
    color: #777;
    font-weight: bold;
    font-size: 16px;
    float: right;
    margin: 20px;
    height: 20px;
    box-sizing: border-box;
    outline: none;
}

.search-results>header .toggle-screen svg {
    margin: 0 5px;
}

.search-results>main{
    position: relative;
    height: calc(100% - 60px);
    overflow: hidden;
}

/* contains the message displayed if there is an error message or the page is still loading */
.search-results h2 {
    color: #777;
    width: 100%;
    text-align: center;
    top: calc(50% - 30px);
    position: absolute;
}

/* contains the google map */
.search-results #map {
    height: 100%;
    width: calc(100% - 420px);
}

footer {
    position: fixed;
    bottom: 0;
    background: #777;
    width: 100%;
    height: 60px;
    padding: 15px 10px;
    box-sizing: border-box;
}

footer a {
    height: 30px;
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

footer a.fs-anchor {
    height: 20px;
}

footer a img {
    height: 100%;
}

footer a img.font-awesome {
    background: white;
    border-radius: 5px;
}

@media only screen and (max-width: 1000px) {
    .sm-hidden {
        display: none !important;
    }

    .search-results #map {
        width: 100%;
    }

    .search-results>header h1 {
        font-size: 22px;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 600px) {
    footer {
        height: 40px;
        padding: 12px 10px;
    }
    
    footer a {
        height: 20px;
        margin-right: 5px;
    }

    footer a.fs-anchor {
        height: 15px;
    }

    .search-results>header h1 {
        font-size: 14px;
    }
}